:root {
  --color-light-blue: #D3EDFF;
  --color-primary-blue: #0D94F5;
  --color-dark-blue: #0C2C5B;
  --color-white: #ffffff;
  --color-green: #49FFB0;
  --color-purple: #DC82FF;
  --color-cyan: #0FFFE3;
}